streamlit==1.45.1
langchain==0.3.25
langchain-community==0.3.24
langchain-text-splitters==0.3.8
chromadb==0.5.23
sentence-transformers==3.4.1
pypdf==5.5.0
google-generativeai==0.8.5
python-dotenv==1.1.0
huggingface-hub==0.30.2